/* Main Color 
    color:#6fd680
*/

/* General Style ----------------*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}

h1 {
	text-transform: capitalize;
	font-size: 2.5rem;
}

h2 {
	text-transform: capitalize;
	font-size: 1.5rem;
}

h3 {
	text-transform: capitalize;
	font-size: 1.2rem;
}

h4 {
	text-transform: capitalize;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	font-size: 1.1rem;
	text-transform: capitalize;
}

.under-line {
	display: inline-block;
	width: 120px;
	height: 3px;
	background-color: #333;
}

/* Main Wrapper ---------------------------*/
.warpper {
	display: grid;
	grid-template-columns: 40px repeat(3, 1fr) 40px;
	grid-auto-rows: 1fr repeat(6, minmax(125px, 70%)) 1fr;
	grid-template-areas:
		"header header header header header"
		"features features features features features"
		". services services services ."
		"action action action action action"
		". price price price ."
		". about about about ."
		"testimonials testimonials testimonials testimonials testimonials"
		"footer footer footer footer footer"
	;
}

/* Header ----------------------------*/
header {
	grid-area: header;
	background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .4)), url(../images/cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 70vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.header-logo span {
	color: #6fd680;
	text-transform: uppercase;
}

.header-logo h1 {
	color: #fff;
	position: relative;
	animation: leftright 2s forwards;
}

@keyframes leftright {
	0% {
		left: -800px;
	}

	100% {
		left: 0;
	}
}

header ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	animation: rightleft 2s forwards;
}

@keyframes rightleft {
	0% {
		right: -800px;
	}

	100% {
		right: 0;
	}
}

header ul li {
	list-style: none;
	padding: 14px 15px;
}

header ul li a {
	color: #fff;
}

.header-title span {
	color: #6fd680;
}

.header-title h1 {
	color: #fff;
	font-size: 4rem;
	margin: 20px 0;
	position: relative;
	animation: topbottom 2s forwards;
}

@keyframes topbottom {
	0% {
		top: -800px;
	}

	100% {
		top: 0;
	}
}

.header-paragraph p {
	color: #fff;
	line-height: 1.6rem;
	letter-spacing: 2px;
	max-width: 800px;
	position: relative;
	animation: leftright 2s forwards;
}

@keyframes leftright {
	0% {
		left: -800px;
	}

	100% {
		left: 0;
	}
}

/* Features ----------------------------*/
.features {
	grid-area: features;
	margin: 40px auto 0;
}

.features-header {
	color: #333;
}

.features-header h1 {
	font-size: 2.5em;
}

.feature-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin: 40px auto 40px;
}

.feature-box {
	color: #333;
	transition: .2s all linear;
}

.feature-box:hover {
	margin-top: -10px;
	cursor: pointer;
}

.feature-box i {
	color: #6fd680;
	margin: 20px 0;
}

.feature-box h3,
p {
	margin: 10px 0;
}

/* Feature Apple ------------------------*/
.feature-apple {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #f5f5f5;
	padding: 40px 0;
}

.feature-apple .img-apple {
	max-width: 400px;
	height: auto;
	position: relative;
	animation: leftright 2s forwards;
}

.feature-apple .img-apple img {
	max-width: 100%;
	height: auto;
}

.feature-apple .quick {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	animation: rightleft 2s forwards;
}

.feature-apple .quick .quick-box-a {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.feature-apple .quick .quick-box-a .quick-content {
	max-width: 400px;
}

.feature-apple .quick .quick-box-a .quick-icon {
	background: #6fd680;
	color: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	line-height: 60px;
	text-align: center;
}

/* services ----------------------------*/
.services {
	grid-area: services;
	margin: 40px auto 0;
}

.services-header {
	color: #333;
}

.services-content {
	margin: 40px auto 0;
	color: #333;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: repeat(2, 1fr);
	grid-gap: 10px;
}

.services-content .service-box {
	box-shadow: 0 0 15px;
	padding: 20px 0;
}

.services-content .service-box:nth-child(1) {
	color: #fff;
	background-color: #6fd680;
}

.services-content .service-box:nth-child(3) {
	color: #fff;
	background-color: #6fd680;
}

.services-content .service-box:nth-child(5) {
	color: #fff;
	background-color: #6fd680;
}

/* action ----------------------------*/
.action {
	grid-area: action;
	background-image: url(../images/dashboard-img.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #333;
	margin: 40px 0;
}

.action-title {
	line-height: 1.6;
	letter-spacing: 2px;
}

/* price ----------------------------*/
.price {
	grid-area: price;
	margin: 40px auto 0;
}

.price-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 40px;
	padding: 0 30px;
}

.price-box {
	background-color: #f7f7f7;
	margin: 30px auto 20px;
	padding: 0 5px 20px;
	width: 100%;
	height: auto;
}

.price-month {
	padding: 30px auto 0;
	background-color: #eee;
	width: 100%;
}

.price-month span {
	font-size: 1.2rem;
	text-transform: capitalize;
}

.price-month strong {
	font-size: 2rem;
}

.price-box h3 {
	padding: 10px auto 0;
	background-color: #eee;
}

.price-box h4 {
	padding: 10px 0;
	background-color: #dcd8d8;
}

.price-box .bg-best {
	background-color: #37da52;
	color: #fff;
}

.price-box ul li {
	padding: 10px 0;
	font-size: 1.3rem;
	text-transform: capitalize;
	border-bottom: 1px solid #999;
}

.price-box .btn {
	margin: 5px auto 0;
	display: inline-block;
	width: 100px;
	height: 40px;
	background: #6fd680;
	line-height: 40px;
	color: #fff;
	font-size: 1.3rem;
	border-radius: 3px;
	box-shadow: 0 0 15px #6fd680;
}

/* about ----------------------------*/
.about {
	grid-area: about;
}
.about-content{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	gap:10px;
	margin:40px auto 0;
}

.about-box{
	max-width:300px;
	height:auto;
}
.about-img{
	position:relative;

}
.about-img .about-img-title{
	position:absolute;
	background-color:#6fd680;
	padding:5px;
	bottom:5%;
	left:46%;
	transform:translate(-75%,-50%);
	text-transform:capitalize;
}
.about-ttile h2{
	text-shadow:0 0 25px #6fd680;
}

/* testimonials ----------------------------*/
.testimonials {
	grid-area: testimonials;
	background-color: #6fd680;
}
.testimonials-header{
	color:#fff;
}
.testimonials-header h1{
	padding:15px 0;
}
.testimonials-header .under-line{
	background-color:#fff;
}
.testimonials-content{
	line-height:1.6;
	letter-spacing:2px;
	color:#fff;
	max-width:900px;
	margin:40px auto;

}
/* footer ----------------------------*/
footer {
	grid-area: footer;
	margin:2rem auto 0;
}
footer .copyright span{
	text-transform:capitalize;
	font-size:1.5rem;
	Xposition:relative;
}
footer .media i{ 
	background-color:#333;
	display:inline-block;
	color:#fff;
	margin:2rem 1rem;
	width:40px;
	height:40px;
	line-height:40px;
	position:relative;
	transition:transform .4s ease-in-out;
	cursor:pointer;
}
footer .media i:hover{
	transform:translateY(-10px);
}
footer .media i:nth-child(1){
	background-color:#3b5999;
}
footer .media i:nth-child(2){
	background-color:#0077b5;
}
footer .media i:nth-child(3){
	background-color:#55acee;
}
footer .media i:nth-child(4){
	background-color:#e4405f;
}
